form{
    width:40%;
    margin:auto;
    margin-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;    padding:10px;
}
#logo{
    width:200px;
    display:block;
    margin:auto;
}
#note{
    color: grey;
    font-size: 25px;
    display:block;
    margin:auto;
    text-align: center;
}
form>input{
    display:block;
    margin:auto;
    border-bottom: 5px;
    width:80%;
    margin-bottom: 20px;

    height:50px;
    border-radius: 7px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
form>label{
    margin-left:70px;

}
#submit{
    width:80%;
    height:50px;
    display: block;
    background-color:#4c49f0;
    color: white;
    margin:auto;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
#line
{
    width:95%;
    display:flex;
    margin:auto;
    margin-top: 30px;
}
#line>div{
    width:40.39%;
    border-top:1px solid blue;
    text-align: center;
    height:fit-content
}
#line>div:nth-child(2){
    border: none;
    width:20%;
}
form>button{
    width:80%;
    display:block;
    margin:auto;
    margin-top: 20px;
    height:50px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;


}
p{
    margin-left: 10px;
    display:inline-flex
}
#loginref{
    display:inline;
}
