
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.faces .fa-solid{
    color: blue;
    font-size: 2rem;
    margin: 5px;
    transition: all .2s ease-in-out;
    position: relative;
}
.faces .fa-solid:hover {
    transform: translateY(-5px);
    visibility: visible;
}
.container{
    width: 30%;
    /* margin: auto; */
    position: fixed;
    top: 3rem;
    left: 10rem;
    border-radius: 9px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.container img{
    height: 88px;
}
.cut{
    display: flex;
    justify-content: flex-end;
}
.faces{
    margin: 15px 0;
    display: flex;
}
.faces span{
    position: relative;
}

/* ----- Shape  */
.talkbubble{
    border: 1px solid gray;
    width: 65px;
    height: 30px;
    font-size: 13px;
    display: grid;
    place-items:center;
    position: absolute;
    top: -31px;
    background-color: white;
    z-index: 2;
    visibility: hidden;
    /* visibility: visible; */
}