
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
  }
  header{
    /* z-index: 999;
    position: fixed;
    top: 0;
    left: 0; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:white;
    /* box-shadow: 0 5px 25px rgb(0 0 0 / 20%); */
    padding: 0 20px;
    padding-right: 12rem;
    border-bottom: 1px solid #f5f5f5;
    /* padding: 0 0px; */
    
  }
  header .logo{
    width: 50px;
    height: auto;
    margin-left: 150px;
    /* margin-top: 10px; */
}

header .navigation{
    position: relative;
    /* border: 1px solid black; */
    /* width: 40%; */
    /* line-height: 75px; */
    
    
  }
  header.sticky .navigation{
    /* line-height: 60px; */
  }
  header .navigation .menu{
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
    /* margin-right: 25px; */
  }
  .menu-item{
    /* margin-right: 50px; */
    justify-content: space-around;
    /* margin-right: 25px; */
  }
  .menu-item > a{
    color:black;
    font-size: 1em;
    text-decoration: none;
    /* margin: 0 20px; */
    padding: 25px 15px;
    font-size: 15px;
    color: gray;
  }
  .menu-item > a:hover{
    color: #469DFF;
    transition: 0.3s;
  }
  .menu-item .sub-menu{
    width: 22rem;
    position: absolute;
    background:white;
    top: 74px;
    left: 20rem;
    /* line-height: 40px; */
    list-style: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    pointer-events: none;
    transform: translateY(20px);
    opacity: 0;
    padding: 15px;
    border-radius: 8px;
    transition: 0.3s;
    transition-property: transform, opacity;
    font-size: 14px;
    
  }
  header.sticky .menu-item .sub-menu{
    top: 40px;
  }
  
  .menu-item:hover .sub-menu{
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
  }
  .menu-item .sub-menu .sub-item{
    position: relative;
    /* padding: 7px 0; */
    cursor: pointer;
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
    margin-top: 15px;
  }
  
  .menu-item .sub-menu .sub-item a{
    color:black;
    font-size: 1em;
    text-decoration: none;
    /* padding: 15px 30px; */
  }
  
  .menu-item .sub-menu .sub-item:hover{
    background:white;
  }

  