@import url('https://fonts.googleapis.com/css2?family=Balthazar&family=Poppins&family=Roboto&display=swap');

*{margin: 0;
padding: 0;
box-sizing: border-box;
/* font-family: 'Balthazar', serif; */
/* font-family: 'Poppins', sans-serif; */
font-family: 'Roboto', sans-serif;
font-weight: 200;
}
h4{
    font-size: 16px;
}


:root {
    --bg1: #f5f5f5;
    --bg2: #ffffff;
    --boxShadow-main: 0 1px 5px rgb(0 74 116 / 15%);
    --border:1px solid #ccc;
    --borderRadius: 8px;
}
a{
    text-decoration: none;
    font-size: 15px;
    display: block;
    color: black;
}

.container,
.headingTag {
    /* border: 1px solid black; */
    max-width: 980px;
    margin: auto;
}

main {
    background-color: var(--bg1);
    /* border: 1px solid black; */
}
.headingTag{
    font-weight: 300;
    padding: 30px 0;
    font-size: 27px;
    /* box-shadow: var(--boxShadow-main); */
}
.head>p:first-child{
    font-size: 15px;
    font-family: Poopins;
    padding-top: 18px;
    padding-bottom: 25px;
}
.head>h3{
    font-size: 13px;
    font-weight: 500;
    color: black;
    margin-bottom: 12px;
}

#section-1{
    /* background-color: var(--bg2); */
    display: flex;
    
}
#section-1>div{
    border: var(--border);
    background-color: var(--bg2);
    padding: 10px 15px;
    margin-right: 10px;
}
#section-1>div:nth-child(1) a{
    font-weight: bold;
    color: black;
    font-family: sans-serif;
    /* background-color: blue; */
}
#section-1>div:nth-child(1){
    background-color: var(--bg1);
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow-main);
}
#section-1>div:nth-child(2){
    background-color: var(--bg2);
    border-radius: var(--borderRadius);
}
#section-1>div:nth-child(1):hover{
    background-color: var(--bg2);
}
#section-1>div:nth-child(2):hover{
    background-color: var(--bg1);
    border-radius: var(--borderRadius);
}
#section-1>div:nth-child(3){
    background-color: var(--bg1);
    border-radius: 20px;
    border-color: black;

}
#main{
    /* border: 1px solid black; */
    background-color: var(--bg2);
    padding: 25px 0;
    margin-top: 25px;
    border-radius: var(--borderRadius);
    border: var(--border);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}
.top{
    border-bottom: var(--border);
}
.top>div{
    margin: 20px 0;
}
.top>div:nth-child(1){
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    color: black;
    /* font-size: 16px; */
}
.setIcon{
    /* background-color: green; */
    padding: 7px;
    border-radius: 4px;
}
.setIcon:hover{
    cursor: pointer;
    background-color: var(--bg1);
}
.top>div:nth-child(1)>p{
    font-size: 15px;
    color: black;
    font-weight: bold;
}
.top>div:nth-child(2){
    display: flex;
    width: 30%;
    justify-content: space-between;
    padding-left: 30px;
    /* border: var(--border); */
    color: gray;
}
.top>div:nth-child(2)>p{
    color: rgb(128, 128, 128);
    font-size: 14px;
}
.top>div:nth-child(3){
    display: flex;
    justify-content: space-between;
    /* padding-left: 30px; */
    /* border: var(--border); */
    /* color: blue; */
}
.top>div:nth-child(3)>div{
    display: flex;
    width: 50%;
    /* justify-content: space-between; */
    padding-left: 30px 
}
.topBtn{
    border: none;
    background-color: var(--bg2);
    font-size: 15px;
    color: blue;
    padding: 2px 10px;
    border-radius: 8px;
    /* margin-right: -10px; */
    margin-left: -15px;
    
    
}
.topBtn:hover{
    background-color: rgb(206, 240, 252);
}
.top>div:nth-child(3)>div>button:nth-child(2){
    margin-left: 100px;
}
.topSecond{
    justify-content: end;
    margin-right: 30px;
    /* background-color: var(--bg1); */
}
.topSecond>div{
    /* border:var(--border); */
    padding: 8px 10px;
    border-radius: var(--borderRadius);
    
}
.topSecond>div:nth-child(1){
    /* background-color: var(--bg2); */
    padding: -2px 10px;
}
.topSecond>div:nth-child(2){
    background-color: var(--bg1);
}

/* ------------country drop down ------------- */
#countries{
    position: relative;
    /* display: none; */
}
#search{
    padding: 10px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    border: 2px solid blue;
    border-radius: 8px;
    font-size: 18px;
    display: block;
    
}
#addCountries{
    /* background-color: green; */
    background-color: white;
    z-index: 2;
    position: absolute;
    top: 130%;
    left: 0;
    height: 21rem;
    width: 23rem;
    border: var(--border);
    overflow-y: scroll;
    border-radius: 8px;
    border-width: 2px;
    display: none;
}
#addCountries h4{
    width: 90%;
    /* border: var(--border); */
    text-align: left;
    margin: auto;
    font-weight: bold;
    /* margin-top: 10px; */
    padding: 10px;
    
}
#addCountries div{
    /* padding: 10px 20px; */
    text-align: left;
    margin: auto;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    color: black;
    /* background-color: var(--bg1); */
    width: 90%;
    padding: 10px;
    margin-top: 2px;
    border-radius: 5px;

}

.mystyle{
    display: block;
}


/* ---------------- list view container data---------- */
.main_content{
    display: flex;
}
#list-data{
    width: 65%;
    height: 300px;
    border-right: 2px solid var(--bg1);
    padding: 20px 20px;
    
}
.input_time{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.input_time input[type="text"]{
    width: 5.4rem;
    height: 2.5rem;
    border: none;
    border: 1px solid gray;
    border-radius: 8px;
    font-size: 20px;
    padding: 5px 12px;
}



#override{
    width: 35%;
    height: 300px;
    font-size: 15px;
    padding: 25px;
}
#override h4{
    color: black;
    font-weight: bold;
}
#override p{
    margin-top: 18px;
    line-height: 20px;
    color: gray;
}
#override button{
    border: none;
    background-color: white;
    width: 100%;
    padding: 7px;
    border-radius: 18px;
    border: 1px solid blue;
    margin-top: 18px;
}
#override button:hover{
    /* background:rgba(rgb(4, 0, 255), rgb(28, 0, 128), blue, .5) */
    background-color: rgb(191, 237, 245);
}
