
*{
  margin: 0%;
  padding: 0%;
  /* font-family: cursive; */
}
#lbl1 {
  margin-top: 80px;
  font-size: 3vh;
  margin-left: 14vw;
  padding-bottom: 3vh;
  padding-top: 10px;

}
hr {
  /* margin-left: 2vw;
  margin-right: 2vw; */
  border: 0.1px thin grey;
}
.display1 {
  display: none;
}
.dis_para {
  display: flex;
  flex-direction: row;
  width: 90vw;
}
.acc_btn {
  margin-left: 13vw;
  display: flex;
  flex-direction: column;
  width: 10vw;
  margin-top: 3vh;
}
#btn1,
#btn2,
#btn3,
#btn4,
#btn5,
#btn6 {
  height: 6vh;
  width: 20vh;
  margin-top: 1vh;
  background-color: white;
  border: none;
  cursor: pointer;
  text-align: left;
}
#btn4{
width: 39vh;;
}
.acc_btn button:hover{
  color: black;
  font-weight: bold;
}

#ab16{
  position: absolute;
  top: 28%;
  left: 30%;
}
#ad13 p:nth-child(1){
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  /* margin-left: 60px; */
}
#ae14 p{
  color: blue;
  margin-left: 250px;
  margin-top: -20px;
}
#ac12 p{
  text-align: center;
  font-size: 20px;
  margin-left: 70px;
}
#img1{
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: skyblue;
}
#af p{
  padding:10px;
}
#af15 p{
  margin-top: 20px;
}
