body {
    width: 95%;
    max-width: 700px;
    font-family: tahoma, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    padding: 0 10px 20px 10px;
    margin: 0 auto 0 auto;
}

h1 {
    font-size: 24px;
    text-align: center;
}

h1 span {
    display: block;
    font-size: 18px;
    font-weight: normal;
}


.links ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.links li {
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.links li:hover {
    text-decoration: underline;
}